/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

:root {
  /* primary colors */
  --pale-blue : hsl(225, 100%, 94%);
  --bright-blue : hsl(245, 75%, 52%);
  /* neutral colors */
  --very-pale-blue : hsl(225, 100%, 98%);
  --desaturated-blue : hsl(224, 23%, 55%);
  --dark-blue : hsl(223, 47%, 23%);
}

body {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  background: no-repeat url(../images/pattern-background-mobile.svg), var(--pale-blue);
  min-height: 100vh;
  /* background-color : var(--pale-blue); */
}

main {
  margin: auto;
  max-width: 350px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.card-title {
  font-weight: 900;
  font-size: 1.3rem;
  margin: 2rem 1rem;
}

.card-image {
  margin-top: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* padding: 0 0 10px 0; */
}

.text-section {
  background-color: var(--very-pale-blue);
  line-height: 1.5;
}

.card-main-text {
  color: var(--desaturated-blue);
  padding: 0 15% 10% 15%;
  font-size: 0.9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width:1440px) {
  body {
    background: no-repeat url(../images/pattern-background-desktop.svg), var(--pale-blue);
  }
}
